body {
    background-color: aquamarine;
    margin: 0, auto
} 

h1 {
    color: blue;
}

h2 {
    color: hotpink;
}

h3 {
    color: blueviolet;
}

li {
    font-size: large;
    list-style-type: square;
}
