body {
  background-image: radial-gradient(yellow 10%, orange 25%, red);
}

h1,
h3 {
  text-align: center;
}

h1 {
  color: blue;
  font-size: 200%;
}

h3 {
  color: blueviolet;
  font-size: 150%;
}

li {
  font-size: 120%;
}

h3.nafn {
  color: purple;
}

