* {
  box-sizing: border-box;
}
body {
  max-width: 60em;
  margin: 0 auto;
  font-family: sans-serif;
}

footer p {
  text-align: center;
}

.gulur {
  background-color: yellow;
  flex-grow: 1;
}
.raudur {
  background-color: red;
  flex-grow: 1;
}
.graenn {
  background-color: lime;
  flex-grow: 1;
}
.blar {
  background-color: cyan;
  flex-grow: 1;
}

.box {
  font-size: 1.2em;
  text-align: center;
  height: 5em;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-flow: row-reverse;
}

.col {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
}
